body.dark {
    background-color: #141D2F;

    header {
        color: white;

        button {
            color: white;
        }
    }

    main {
        .user {
            background-color: #1E2A47;
        }
    }

}