body.dark {
    $primaryFontColor: #FFF;
    $bgColor: #141D2F;
    $contentBgColor: #1E2A47;

    background-color: $bgColor;

    header {
        color: $primaryFontColor;

        button {
            color: $primaryFontColor;
        }
    }

    main {
        form {
            background-color: $contentBgColor;

            input {
                color: $primaryFontColor;

                &::placeholder {
                    color: $primaryFontColor;
                }
            }
        }

        .user {
            background-color: $contentBgColor;
        }
    }

}