body.dark {
    $primaryFontColor: #FFF;
    $bgColor: #141D2F;
    $contentBgColor: #1E2A47;

    background-color: $bgColor;

    header {
        color: $primaryFontColor;

        button {
            color: $primaryFontColor;
        }
    }

    main {
        #userserach {
            background-color: $contentBgColor;

            input {
                color: $primaryFontColor;

                &::placeholder {
                    color: $primaryFontColor;
                }
            }
        }

        .user {
            background-color: $contentBgColor;
            color: $primaryFontColor;

            .user__data {

                .user__data-name {
                    color: $primaryFontColor;
                }
            }

            .user__pub-info {
                background-color: $bgColor;

                .user__prop,
                .user__prop-cnt {
                    color: $primaryFontColor;
                }
            }
        }
    }

}