$formColor: #0079FF;
$fontFamily: 'Space Mono', sans-serif;
$borderRadius: .95rem;

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 1.5rem;

    .wrapper {
        >header {
            display: flex;
            flex-direction: row;
            max-width: 45.625rem;
            justify-content: space-between;
            font-family: $fontFamily;
            width: 100%;
            padding: .5rem 0;
            margin-bottom: 2.25rem;

            .brand {
                font-weight: bold;
                font-size: 1.625rem;
            }

            button {
                border: none;
                background-color: transparent;
                font-family: $fontFamily;

                span {
                    display: inline-block;
                    vertical-align: middle;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    font-weight: 800;
                    margin-right: .625rem;
                }

                .icon {
                    display: inline-block;
                    vertical-align: middle;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

        }

        main {
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5rem 0;
                gap: .5rem;
                border-radius: $borderRadius;

                button {
                    border: none;
                    color: white;
                    background-color: $formColor;
                    font-size: .875rem;
                    padding: .75rem 1.125rem;
                    border-radius: .625rem;
                }

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: .8rem;
                    line-height: 1.5rem;


                }
            }

            .user {
                margin-top: 1rem;
                padding: 2rem 1.5rem;
                border-radius: $borderRadius;
                visibility: visible;

                >header {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: 1rem;

                    .user__avatar,
                    .user__avatar-img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }

                .user__data {
                    letter-spacing: 1px;

                    .user__data-name {
                        font-size: 1rem;
                        font-weight: bold;
                        line-height: 1.5rem;
                    }

                    .user__data-at {
                        color: $formColor;
                        margin-bottom: .375rem;
                    }

                    .user__data-joined {
                        font-size: .8rem;
                    }
                }

            }

        }
    }

    .hide {
        display: none;
    }

    .visible {
        visibility: visible !important;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:focus {
        transition: background-color 0s 600000s, color 0s 600000s;
    }
}